* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bungee Shade", "Cormorant", sans-serif;
  font-size: 2rem;
  color: skyblue;
}

.game-rules {
  font-family: "Inter";
  font-size: 0.75rem;
}

.control__container {
  font-family: "Inter";
}

button {
  font-family: "Inter";
  font-size: 0.75rem;
}

@media screen and (min-width: 320px) {
  .board__container {
    height: 256px;
  }
}
@media screen and (min-width: 375px) {
  .board__container {
    height: 300px;
  }
}
@media screen and (min-width: 425px) {
  .board__container {
    height: 340px;
  }
}
@media screen and (min-width: 768px) {
  .board__container {
    height: 614.39px;
  }
}
@media screen and (min-width: 1024px) {
  .board__container {
    height: 819.19px;
  }
}
.game {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  perspective: 1000px;
}
.game .control__container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.game .control__container .record__stats {
  padding: 0.1rem;
  border: 2px dashed lightcoral;
  border-radius: 4px;
  background-color: beige;
}
.game .control__container .control__btn {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px;
  cursor: pointer;
}
.game .control__container .control__btn:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}
.game .control__container .control__btn--start {
  background-color: lightblue;
}
.game .control__container .control__btn--reset {
  background-color: lightcoral;
}
.game .board__container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}
.game .board__container .card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.33, 0.23, 1, 1);
}
.game .board__container .card__face,
.game .board__container .card__back {
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
}
.game .board__container .card__face .card__image,
.game .board__container .card__back .card__image {
  transform: scale(1);
  height: 100%;
  width: 100%;
}
.game .board__container .card__back {
  background: lightblue;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.game .board__container .toggleCard {
  transform: rotateY(180deg);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
header h1 {
  text-align: center;
  margin-bottom: 2rem;
}
header .game-rules {
  width: 80%;
  padding: 0.5rem;
  border: 5px dashed lightcoral;
  border-radius: 10px;
  background-color: beige;
}
header .game-rules ul {
  padding: 0.5rem;
}

body {
  background-image: linear-gradient(#FFEFC0, #FFBADE);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}/*# sourceMappingURL=style.css.map */