@use "../styles/reset" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;
@use "../styles/media-queries" as *;
@use "../styles/game-style" as *;
@use "../styles/header" as *;

body {
    background-image: linear-gradient($color-background-primary, $color-background-secondary);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;  
}

