@use "../styles/reset" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;

body {
    background-image: linear-gradient($color-background-primary, $color-background-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    header {
        margin: 1rem;

        h1 {
            text-align: center;
            margin-bottom: 2rem;
        }

        .game-rules {
            padding: 0.5rem;
            border: 1px dashed white;
            
            ul {
                padding: 0.5rem;
            }
        }   
    }
    
    .game {
        width: 80%;
        height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        perspective: 1000px;

        .control__container {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1rem;

            .control__btn {
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 2px;
                cursor: pointer;
                
                &:active {
                    transform: scale(0.9);
                    transition: transform .2s;
                }

                &--start {
                    background-color: lightblue;
                }

                &--reset {
                    background-color: lightcoral;
                }
            }
        }

        .board__container {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 10px;
            height: 800px;
            perspective: 800px;
            
            .card {
                position:relative;
                transform-style: preserve-3d;
                transform: rotateY(180deg);
                transition: all 0.5s cubic-bezier(0.33, 0.23, 1, 1);
            }

            .card__face,
            .card__back {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: white;
                padding: 5px;
                border-radius: 3px;
                overflow: hidden;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;

                .card__image {
                    transform: scale(1);
                    height: 100%;
                    width: 100%;
                }
            }

            .card__back {
                background: black;
                backface-visibility: hidden;
            }

        }
    }
}



@media screen and (min-width: 320px) {

}

@media screen and (min-width: 768px) {

}

// .card {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     background-color: white;
//     padding: 5px;
//     border-radius: 3px;
//     overflow: hidden;
//     cursor: pointer;

//     .card__image {
//         transform: scale(1);

//     }

//     .card__heading {
//         font-size: 1.5rem;
//         text-align: center;
//         font-weight: normal;
//     }
// }