@use "./variables" as *;
h1 {
    font-family: 'Bungee Shade', 'Cormorant', sans-serif;
    font-size: 2rem;
    color: $color-title;
}

.game-rules {
    font-family: 'Inter';
    font-size: 0.75rem;
}

.control__container {
    font-family: 'Inter';
    
    .record__stats{
        font-size: 0.75rem;
    }

    button {
    font-family: 'Inter';
    font-size: 0.75rem;
    }
}
