// background colors
$color-background-primary: #4568dc;
$color-background-secondary: #b06ab3;
$color-rules: beige;
$color-border: lightcoral;

//card background colors
$card-face-color: pink;
$card-back-color: rgb(44, 41, 94);

// text colors
$color-title: white;
$color-text-primary: white;

//button color
$button-color: white;
$start-button: lightblue;
$reset-button: lightcoral;