// background colors
$color-background-primary: #FFEFC0;
$color-background-secondary: #FFBADE;
$color-rules: beige;
$color-border: lightcoral;

//card background colors
$card-face-color: lightcoral;
$card-back-color: lightblue;

// text colors
$color-title: skyblue;
$color-text-primary: white;

//button color
$button-color: white;
$start-button: lightblue;
$reset-button: lightcoral;